# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.venv/
env/
ENV/
myvenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Django
db.sqlite3
*.log
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db
